body{
	margin: 0;
	padding: 0;
	background: url(../images/healthcare_1.jpg);
	background-size: cover;
	
	font-family: sans-serif;

}

.login-box{
	width: 610px;
	height: 270px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
	padding: 70px 30px;
	align-content: center;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.login-box input{
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login-box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8abd;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login-box input[type="submit"]:hover{
	cursor: pointer;
	background: #fff;
    color: #000;
    
}

.login-box a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;

}

.login-box a:hover{
	color: #000;
}

.regi{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

p.error{
	background: red;
	color: #fff;
	padding: 10px;
}